<div class="posts">
	{{ $paginator := .Paginate (where .Site.RegularPages.ByDate.Reverse "Type" "post") }}
	{{ range $paginator.Pages -}}
	<div class="post-teaser">
		<header>
			<h3>
			<a class="post-link" href="{{ .Permalink }}">
				{{ .Title }}
			</a>
			</h3>
			{{ partial "post-meta" . }}
		</header>

		<div class="excerpt">
			<a class="post-link" href="{{ .Permalink }}">
			{{ if isset .Params "description" | and (ne .Params.description "") -}}
				{{ .Description | markdownify }}
			{{- else -}}
				{{ .Summary }}
			{{- end }}
			</a>
		</div>
	</div>
	{{- end }}
</div>
