{% extends "base.html" %}

{% block title %}{% if category.slug == 'blog' %}Blog{% elif category.slug == 'talk' %}Talks{% else %}{{ category }}{% endif %} | {{ SITE_TITLE }}{% endblock %}

{% block content %}
<article>
  <header>
    <h1 class="title">{% if category.slug == 'blog' %}Blog{% elif category.slug == 'talk' %}Talks{% else %}{{ category }}{% endif %}</h1>
    {% if category.slug == 'blog' %}
    <p>Thoughts on Energy, Bitcoin and other things.</p>
    {% elif category.slug == 'talk' %}
    <p>A selection of talks, presentations and podcast appearances.</p>
    {% endif %}
  </header>
  <div class="index-posts">
    {% for article in articles %}
    <div class="post-teaser">
      <p>
        <span class="meta">{{ article.date.strftime('%Y-%m-%d') }}</span>
        <a class="post-link" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
      </p>
    </div>
    {% endfor %}
  </div>
</article>
{% endblock %}
